@use './main.scss';


.video-card {
    padding-top: 36px;
    transition: all ease-in-out 250ms;
    width: 600px;

    .video-player:hover {
        transform: scale(1.05);
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--txt {
            margin-top: 16px;
            margin-bottom: 27px;
        }

    }

    .modal-off {
        .btn-info {
            display: none;

        }
    }

}